{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
           <h1>{{request.user}}</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for msg in messages%}
                {{msg}}
                {%endfor%}
            {%endif%}

        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>TASKNAME</th>
                    <th>USER</th>
                    <th>ACTION</th>
                </tr>
                {%for todo in todos%}
                <tr>
                    <td>{{todo.id}}</td>
                    <td>{{todo.task_name}}</td>
                    <td>{{todo.user}}</td>
                    <td>
                        <a href="{%url 'todo-detail' todo.id%}" class="btn btn-outline-success">Detail</a>
                        <a href="{%url 'todo-delete' todo.id%}" class="btn btn-outline-danger">remove</a>
                        <a href="{%url 'todo-change' todo.id%}" class="btn btn-outline-danger">edit</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}